@tailwind base;
@tailwind components;
@tailwind utilities;

.FontMajorMono{
  font-family: Major Mono Display;
}
.FontCarme{
  font-family: 'Quattrocento Sans', sans-serif;
}
main{
  height: 100vh;
  background: linear-gradient(to right bottom, rgba(12, 66, 137, 0.8), rgba(76, 12, 165, 0.4));
}

nav{
  /* background: linear-gradient(to right, rgba(3, 35, 94, 0.8), rgba(76, 12, 165, 0.4)); */
   background: linear-gradient(to right, rgba(12, 66, 137, 0.9), rgba(76, 12, 165, 0.4)); 
}
h1.navbar_shadow{
  filter: drop-shadow(0px 5px 3px black);
 }

 .moon{
  filter: drop-shadow(1px 0.7px 0.9px rgb(255, 255, 255));
  color: rgba(3, 57, 128, 0.9)
 }

 .navbar_shadow{
  filter: drop-shadow(2px 2px 0.8px rgb(27, 2, 60));
 }
 .glass{
  min-height: 80vh;
  width: 50%;
  /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.1)); */
  background: linear-gradient(to right bottom,rgba(33, 97, 181, 0.5), rgba(76, 12, 165, 0.2));
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(1rem);
  position: absolute;
  left:25%;
  top:13%;
  display: flex;
  /* filter: drop-shadow(1px 0px 0.5px rgba(9, 35, 62, 0.5)); */
 }
 
 .icons{
  color: rgba(8, 80, 175, 0.8);
 }
 .circle1,
 .circle2,
 .circle3,
 .circle4{
  /* white glass */
  /* background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255,0.3)); */
  /* black glass */
  background: white;
  background: linear-gradient(to right bottom,rgba(12, 66, 137, 0.6), rgba(76, 12, 165, 0.3));
   /* rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.3)); */
  height: 13rem;
  width: 13rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
 }

 .circle1{
  bottom: 1%;
  left: 16%;
 }
.circle2{
  right: 20%;
  top: 10%;
} 
.circle3{
  bottom: 19%;
  left: 86%;
 }
.circle4{
  right: 85%;
  top: 10%;
} 

.gradiant{
  background: linear-gradient(to right bottom, rgba(113, 159, 220, 0.8), rgba(164, 118, 227, 0.4));
}
.gradiant_text{
  color: rgba(8, 76, 164, 0.8);
  font-weight: 900;
}

.dashboard{
  background: linear-gradient(to right bottom,rgba(33, 97, 181, 0.5), rgba(76, 12, 165, 0.2));
  border-radius: 1rem;
  z-index: 4;
  flex: 1;
}

.dashboard, .user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user{
  padding-top: 50px;
  justify-content: space-between;
  /* flex: 1; */
}
.links{
  padding-bottom: 50%;
}
.links a{
  display: flex;
  justify-content: stretch;
  cursor: pointer;
  color: rgba(206, 215, 246, 0.9);
  font-size: 1.3rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 400;
}

.links .icons{
  color: rgba(206, 215, 246, 0.9);
  font-size: 1.9rem/* 30px */;
  line-height: 2.25rem/* 36px */;
  filter: drop-shadow(1px 2px 0.2px rgb(67, 6, 147));
}

.links h2{
  padding-left: 12px;
  margin-bottom: 1.5rem;
  filter: drop-shadow(1px 2px 0.2px rgb(67, 6, 147));
  
}

.user img {
  width: 30%;
  border-radius: 50px;
  background-color: rgb(124, 125, 224);
}


.card h1, .user h1, .user h3{
  color: rgba(206, 215, 246, 0.9);
  filter: drop-shadow(1px 2px 0.5px rgb(38, 15, 209));
}

.card h1,.user h1{
  font-size: 1.3rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 700;
}

.games{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards{
  /* background-color: white; */
  border-radius: 10px;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card{
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right bottom,rgba(177, 201, 232, 0.6), rgba(129, 35, 252, 0.4));
}

.card img{
  width: 30%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}
